@font-face {
    font-family: scout-regular;
    src: url(scout/font-family/Scout-Regular.otf);
}

@font-face {
    font-family: scoutcond-bold;
    src: url(scout/font-family/ScoutCond-Bold.otf);
}

body {
    font-family: scout-regular;
    width: 100%;
    height: 950px;
    padding: 0;
    margin: 0;
    float: left;
    position: absolute;
    display: block;
    overflow: hidden;
    background-color: #383838;
    -webkit-font-smoothing: antialiased;
}

html {
    margin: 0;
    padding: 0;
}

.header {
    font-family: scoutcond-bold;
    width: 100%;
    height: 80px;
    background-color: black;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    box-sizing: border-box;
    float: left;
    border: 1px dotted black;
    font-size: 50px;
    color: white;
}

.mainmenu {
    font-size: 50px;
    color: #a7a7a7;
    text-shadow: none;
    margin: 0;
    margin-left: 10px;
    text-decoration: none;
    vertical-align: bottom;
    padding-bottom: 3px;
    border-bottom: solid #bebebe 1px;
}

    .mainmenu span {
        border-right: solid #bebebe 3px;
        margin-right: 5px;
    }

    .mainmenu:hover {
        transition-timing-function: ease-in;
        transition-duration: 0.2s;
        border-bottom: 5px white;
        color: #FFFFFF;
        border-bottom: solid white 1px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

        .mainmenu:hover span {
            transition-timing-function: ease-in;
            transition-duration: 0.2s;
            border-right: solid white 3px;
        }

.menuitem {
    font-size: 40px;
    color: #9a9a9a;
    text-shadow: none;
    margin: 0;
    margin-left: 10px;
    text-decoration: none;
    border: none;
    padding-bottom: 2px;
}

    .menuitem:hover {
        transition-timing-function: ease-in;
        transition-duration: 0.2s;
        border-bottom: 5px white;
        color: #FFFFFF;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        padding-bottom: 2px;
        background: linear-gradient(to top, #fff 0, #000000 4px, #000000 100%);
    }

.optionsmenu {
    float: right;
    padding-right: 20px;
}

    .optionsmenu img {
        content: url("../images/gear.png");
    }

    .optionsmenu:hover img {
        transition-timing-function: ease-in;
        transition-duration: 1s;
        content: url("../images/gearGrey.png");
    }

    .optionsmenu:active {
        content: url("../images/gearGrey.png");
        height: 40px;
        width: 40px;
        float: right;
        margin-top: 7px;
    }

.exit {
    float: right;
    padding-right: 20px;
}

    .exit img {
        content: url("../images/exit.png");
    }

    .exit:hover img {
        content: url("../images/exitGrey.png");
    }

    .exit:active {
        content: url("../images/exitGrey.png");
        height: 40px;
        width: 40px;
        float: right;
        margin-top: 7px;
    }

.characterList {
    height: 900px;
    width: 300px;
    box-sizing: border-box;
    border-right: 1px solid black;
    background-color: #383838;
    float: left;
}

    .characterList .atk {
        padding-top: 15px;
        height: 40px;
        width: 100%;
        display: block;
        border-bottom: 2px black solid;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .characterList .def {
        padding-top: 200px;
        height: 40px;
        width: 100%;
        display: block;
        vertical-align: bottom;
        border-bottom: 2px black solid;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .characterList a {
        display: block;
        text-decoration: none;
        color: #808080;
    }

        .characterList a:hover {
            transition: ease-in 0.2s;
            text-decoration: none;
            color: #FFFFFF;
        }

        .characterList a:visited {
            color: #808080;
            text-decoration: none;
        }

    .characterList .characterBox {
        border-bottom: 1px black solid;
        box-sizing: border-box;
        padding: 1px;
        display: block;
        background-color: #8f8f8f;
        height: 52px;
        width: 100%;
        font-size: 25px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

        .characterList .characterBox:hover {
            transition: .25s;
            background-color: #b5b5b5;
            border-bottom: 1px white;
        }

        .characterList .characterBox .characterBoxImage {
            height: 50px;
            width: 50px;
            margin-left: 2px;
            float: left;
        }

            .characterList .characterBox .characterBoxImage img {
                width: 100%;
                height: 100%;
            }

        .characterList .characterBox .characterBoxText {
            display: inline-block;
            color: #FFFFFF;
            font-size: 25px;
            float: left;
            vertical-align: middle;
            line-height: 50px;
            margin-left: 10px;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

.characterPreview {
    float: left;
    box-sizing: border-box;
    margin-left: 0px;
    padding-top: 100px;
    padding-left: 90px;
    padding-right: 50px;
}

    .characterPreview .weaponBox {
        width: 80px;
        height: 210px;
        border: double 10px black;
        box-sizing: content-box;
        background-color: #8f8f8f;
        margin-top: 30px;
        padding: 0;
        position: relative;
        overflow: hidden;
    }

        .characterPreview .weaponBox .attachments {
            width: 25px;
            height: 120px;
            margin: 0;
            padding: 0;
            top: 0px;
            left: 50px;
            position: absolute;
        }

            .characterPreview .weaponBox .attachments .attachmentBox {
                width: 20px;
                height: 20px;
                border: solid 3px black;
                box-sizing: content-box;
                background-color: #8f8f8f;
                margin-top: 5px;
                overflow: hidden;
                z-index: 50;
            }

    .characterPreview .equipmentBox {
        width: 100px;
        height: 100px;
        border: double 10px black;
        box-sizing: border-box;
        background-color: #8f8f8f;
        margin-top: 30px;
    }

    .characterPreview .characterModel {
        width: 500px;
        height: 700px;
        border: double 10px black;
        box-sizing: border-box;
        margin: -50px 20px 0px 20px;
        float: left;
    }

.bio {
    position: absolute;
    width: 400px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-weight: normal;
    font-size: 16px;
    background: #8f8f8f;
    text-align: left;
    border: 1px solid #666;
    text-shadow: none;
    border-radius: 10px;
}

#ash .bio {
    display: none;
}

#ash:hover .bio {
    display: block;
}

#fuze .bio {
    display: none;
}

#fuze:hover .bio {
    display: block;
}

#rook .bio {
    display: none;
}

#rook:hover .bio {
    display: block;
}

#jager .bio {
    display: none;
}

#jager:hover .bio {
    display: block;
}

.characterPreview img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.container {
    float: left;
    display: block;
}

#itemList {
    height: 870px;
    width: 700px;
    float: left;
    box-sizing: border-box;
    border-right: 1px black solid;
    overflow-x: hidden;
    overflow-y: hidden;
}

.psych {
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 17px;
    box-sizing: border-box;
    margin: 10px;
}

#weaponList {
    display: none;
}

#attachmentsList {
    display: none;
}

#weaponSecList {
    display: none;
}

#equipmentList {
    display: none;
}

#armorList {
    display: none;
}

#helmetList {
    display: none;
}

.listItem {
    padding: 5px;
    width: 100%;
    height: 100px;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px black solid;
    background-color: #a7a7a7;
}

    .listItem img {
        max-width: 350px;
        height: 100%;
        float: left;
        display: block;
    }

    .listItem .description {
        width: 300px;
        text-decoration: none;
        font-size: 12px;
        color: black;
        display: block;
        float: right;
        text-shadow: none;
    }

#loader {
    float: left;
    height: 900px;
    width: 1000px;
}

object {
    float: left;
    height: 870px;
    width: 1700px;
}